<div>

	<div class="row header">
		<div class="col-md-6">
		    <h2>{{page_title}}</h2>
			<h3>{{page_subtitle}}</h3>
		</div>
	  	<div class="col-md-6 btn-section">
	    	<a ng-href="#/projects/" class="btn btn-lg">Cancel</a>
		</div>	
	</div>
	
    <form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty">

    	<div class="form-body">
			<div class="accordian-container--1">
				<div class="row">
					<div class="col-sm-6">
			            <div class="form-group">
			                <label>Client</label><span>*</span>
			                <input type="text" class="form-control" name="client"
			                       ng-model="project.client" ng-required="true"
								   placeholder="Add Client name"
			                       ng-maxlength="60"/>
			                <span class="error" ng-show="form.client.$error.minlength">Must be at least  characters.</span>
			                <span class="error" ng-show="form.client.$error.maxlength">Must be at most 60 characters.</span>
			            </div>
						
					</div>
				</div>
				<div class="row">	
					<div class="col-sm-6">
			            <div class="form-group">
			                <label>Project</label><span>*</span>              
			                <input type="text" class="form-control" name="project_name"
			                       ng-model="project.project_name" ng-required="true"
								   placeholder="Add Project name"
			                       ng-maxlength="150"/>
			                <span class="error" ng-show="form.project_name.$error.minlength">Must be at least characters.</span>
			                <span class="error" ng-show="form.project_name.$error.maxlength">Must be at most 150 characters.</span>
			            </div>
					</div>
				</div>
				<div class="row">	
					<div class="col-sm-3">
			            <div class="form-group" >
			                <label>Response Due</label><span>*</span>
			                <input type="text" class="form-control" name="response_due" ui-date="response_dueDateOptions"
								placeholder="Required" ui-date-format="yy-mm-dd" 
			                       ng-model="project.response_due" ng-required="true"/>
			            </div>
						<dl class="form-output ng-hide">
							<dt>Response Due</dt>
							<dd>{{project.response_due}}</dd>
						</dl>
					</div>
					<div class="col-sm-3">
			            <div class="form-group">
			                <label>Opportunity Size</label>
			                <input type="text" class="form-control" name="opportunity_size"
			                       ng-model="project.opportunity_size" ng-required="false"
								   placeholder="Opportunity Size"
			                       ng-maxlength="60"/>
			                <span class="error" ng-show="form.opportunity_size.$error.minlength">Must be at least  characters.</span>
			                <span class="error" ng-show="form.opportunity_size.$error.maxlength">Must be at most 120 characters.</span>
			            </div>
						<dl class="form-output ng-hide">
							<dt>Opportunity Size</dt>
							<dd>{{project.opportunity_size}}</dd>
						</dl>
					</div>
				</div>
			
			</div>		
				
			<div>
				<div class="row">
					<div class="col-sm-12 btn-section submit-section">
		        		<button type="button" class="btn btn-lg btn-cancel btn-default" ng-click="cancel()">Cancel</button>
		        		<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-lg" ng-click="submitProject(project)">Save Project</button>
				
					
					</div>
				</div>
			</div>	
			
        </div>
		
		
    </form>
							
							
</div>
